<?xml version='1.0' encoding='utf-8'?>
<widget id="com.codex.editor" version="1.0.0" xmlns="http://www.w3.org/ns/widgets" xmlns:cdv="http://cordova.apache.org/ns/1.0">
    <name>CodeX</name>
    <description>Mobile Code Editor with Fluent UI</description>
    <author email="dev@codex.app" href="https://codex.app">
        CodeX Team
    </author>
    <content src="index.html" />
    <allow-intent href="http://*/*" />
    <allow-intent href="https://*/*" />
    <preference name="Orientation" value="default" />
    <preference name="Fullscreen" value="false" />
    <preference name="BackgroundColor" value="0xff202020" />
    <preference name="ShowTitle" value="false" />
    <preference name="loglevel" value="DEBUG" />
    <preference name="AndroidWindowSplashScreenAnimatedIcon" value="res/screen.png" />
    <preference name="AndroidWindowSplashScreenBackground" value="#202020" />
    <preference name="AndroidPersistentFileLocation" value="Internal" />
    <preference name="AndroidInsecureFileModeEnabled" value="true" />
    <platform name="android">
        <preference name="android-minSdkVersion" value="24" />
        <preference name="android-targetSdkVersion" value="34" />
        <edit-config file="app/src/main/AndroidManifest.xml" mode="merge" target="/manifest/application">
            <application android:hardwareAccelerated="true" android:largeHeap="true" android:usesCleartextTraffic="true" />
        </edit-config>
        <resource-file src="res/screen.png" target="app/src/main/res/screen.png" />
    </platform>
    <plugin name="cordova-plugin-file" spec="^8.0.0" />
    <plugin name="cordova-plugin-file-opener2" spec="^4.0.0" />
</widget>
